*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  word-wrap: break-word;
  /* フォントレンダリング設定: 1x解像度ではsubpixel、2x以上の解像度ではgrayscale */

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  @include mq {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    // opacity: 0.8;
  }
}

button {
  @include default-font;

  outline: none;
  padding: 0;
  border: none;

  appearance: none;

  @include mq {
    cursor: pointer;
  }
}

input {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.br {
  &::before {
    content: "\A";
    white-space: pre;
  }
  &--sp {
    @include mq {
      &::before {
        content: "";
        white-space: normal;
      }
    }
  }
  &--md {
    &::before {
      content: "";
      white-space: normal;

      @include mq {
        content: "\A";
        white-space: pre;
      }
    }
  }
  &--main {
    &::before {
      content: "";
      white-space: normal;

      @include mq($breakpoint: main) {
        content: "\A";
        white-space: pre;
      }
    }
  }
  &--large {
    &::before {
      content: "";
      white-space: normal;

      @include mq($breakpoint: large) {
        content: "\A";
        white-space: pre;
      }
    }
  }
  &--xlarge {
    &::before {
      content: "";
      white-space: normal;

      @include mq($breakpoint: xlarge) {
        content: "\A";
        white-space: pre;
      }
    }
  }
}

.inline-block {
  display: inline-block;
}
