//----------------------------------------------------------------
//- 共通のレイアウトを継承
//----------------------------------------------------------------
extends /pug/_common/_layout

//----------------------------------------------------------------
//- ページ毎の変数を追加(メタタグや相対パス、ページ固有データ)
//----------------------------------------------------------------
append variables
  //- 相対パス
  - var relativePath = "./";
  //- ページ固有データ
  - var pageData = data.index;

//----------------------------------------------------------------
//- ページ毎のcssを追加
//----------------------------------------------------------------
//- append css
  link(rel="stylesheet" href=`${relativePath}css/***.css`)

//----------------------------------------------------------------
//- ページ毎のjsを追加
//----------------------------------------------------------------
//- append js
  script(src=`${relativePath}js/***.js` charset="utf-8")

//----------------------------------------------------------------
//- mainコンテンツを記述
//----------------------------------------------------------------
block content
  main
    #webgl
    .wrapper
      .kv
        .kv__logo
          | Harumi's Portfolio
        .scroll
          .scroll__txt
            | Scroll >
          .scroll__line
      .cont
        .cont__item
          .work
            .work-detail
              a.work-detail__head(href='https://www.47club.jp/contents1/olta.html' target="_blank" rel="noreferrer")
                .work-detail-head
                  .work-detail-head__fig.work-detail-head__fig--47club
                  .work-detail-head__ttl
                    | 47CLUB×OLTA クラウドファクタリングサービス
                  .work-detail-head__link
                    | https://www.47club.jp/contents1/olta.html
              .work-detail__body
                .work-detail__description
                  | LP制作(クライアントワーク)
                .work-detail-environment
                  .work-detail-environment__ttl
                    | Front-end
                  .work-detail-environment__txt
                    | HTML(Pug), CSS(SCSS, PostCSS), JavaScript
                  .work-detail-environment__ttl
                    | 開発環境など
                  .work-detail-environment__txt
                    | gulp.js, webpack, BEM, Git
        .cont__item
          .work
            .work-detail
              a.work-detail__head(href='https://evening-chamber-98773.herokuapp.com/'  target="_blank")
                .work-detail-head__fig.work-detail-head__fig--replyrates
                .work-detail-head__ttl
                  | Replyrates
                .work-detail-head__link
                  | https://evening-chamber-98773.herokuapp.com/
              .work-detail__body
                .work-detail__description
                  | 記事の書き込み・評価ができる、ログイン機能つき掲示板
                .work-detail-environment
                  .work-detail-environment__ttl
                    | Front-end
                  .work-detail-environment__txt
                    | HTML(Pug), CSS(SCSS), JavaScript
                  .work-detail-environment__ttl
                    | Back-end
                  .work-detail-environment__txt
                    | Node.js(Express), PostgreSQL
                  .work-detail-environment__ttl
                    | 開発環境など
                  .work-detail-environment__txt
                    | Ubuntu, VirtualBox, Vagrant, webpack, BEM, Git, Heroku
        .cont__item
          .work
            .work-detail
              a.work-detail__head(href='https://haru0604.github.io/portfolio/'  target="_blank")
                .work-detail-head__fig.work-detail-head__fig--portfolio
                .work-detail-head__ttl
                  | Harumi's Portfolio
                .work-detail-head__link
                  | https://haru0604.github.io/portfolio/
              .work-detail__body
                .work-detail__description
                  | WebGL(Three.js)を活用したポートフォリオ
                .work-detail-environment
                  .work-detail-environment__ttl
                    | Front-end
                  .work-detail-environment__txt
                    | HTML(Pug), CSS(SCSS), JavaScript, Three.js
                  .work-detail-environment__ttl
                    | 開発環境など
                  .work-detail-environment__txt
                    | gulp.js, webpack, BEM, Git, Heroku
